.info-container {
  position: absolute;
  top: 1902px + 521px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 64px 119px;
  gap: 24px;
  width: 1127px;
  height: 283px;
  background: $primary-color;
  color: $background-color;
  .info1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 263px;
    height: 243px;

    .info1-sub {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $background-color;
    }
  }

  .info2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 264px;
    height: 243px;

    .info-title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: $background-color;
    }

    .info-link {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $background-color;
    }
  }

  .info3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 264px;
    height: 151px;

    .info-title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: $background-color;
    }
    .info-sub {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 8px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $background-color;
    }
  }

  .info4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 264px;
    height: 250px;

    .info-title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: $background-color;
    }
    .info-sub {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $background-color;
    }
    .subscribe {
      display: flex;
      flex-direction: row;
      #email {
        padding: 12px 16px;
        background: $background-color;
        border-radius: 8px 0px 0px 8px;
        border: none;
        &::placeholder {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          color: #79868b;
        }
      }

      .sub-btn {
        padding: 12px;
        background: $highlight-color;
        border-radius: 0px 8px 8px 0px;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        color: $background-color;
      }
    }

    .socials {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 24px;
      width: 264px;
      height: 79px;

      .socials-title {
        margin-top: 24px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        color: $background-color;
      }
      .socials-logos {
        margin-bottom: 64px;

        img {
          background: $background-color;
          border-radius: 50%;
          padding: 8px;
          margin-right: 8px;
        }
      }
    }
  }
}
.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 119px;
  gap: 32px;
  position: relative;
  top: 2336px;
  width: 1127px;
  height: 21px;
  background: $tertiary-color;
  color: $background-color;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  a {
    text-decoration: none;
    color: $background-color;
  }
  .copyright {
    width: 899px;
  }
}
