.topbar-container {
  background: $background-color;
  height: 80px;
  width: 1127px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 119px;
  gap: 574px;

  .logo {
    width: 131px;
    height: 48px;
    top: 16px;
    left: 48px;
  }

  .logins {
    width: 199px;
    font-size: 16px;
    font-weight: 400;

    span {
      color: $primary-color;
      margin-right: 32px;
    }
    .sign-up {
      width: 109px;
      height: 48px;
      border: none;
      background: $highlight-color;
      color: $background-color;
      font-weight: 400;
      font-size: 16px;
      border-radius: 8px;
      margin-left: 0;
    }
  }
}

.menu-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 119px;
  gap: 12px;
  width: 1127px;
  height: 50px;
  left: 0px;
  top: 80px;
  background: #007296;

  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
  }
  .nav-item:nth-child(5) {
    margin-right: 24px;
  }

  .nav-link {
    text-decoration: none;
    font-size: 16px;
    color: $background-color;

    i {
      padding-left: 4px;
    }
  }
}
header .banner {
  color: $background-color;
  top: 160px;
  width: 1365px;
  height: 320px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/dist/img/unsplash_yFbyvpEGHFQ.jpg'), #c4c4c4;
  background-repeat: no-repeat;

  .banner-title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding-top: 129px;
    padding-bottom: 16px;
  }
  .banner-sub {
    text-align: center;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
  }
}
