.banner {
  color: $background-color;
  top: 160px;
  width: 1365px;
  height: 320px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/dist/img/unsplash_yFbyvpEGHFQ.jpg'), #c4c4c4;
  background-repeat: no-repeat;

  .banner-title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding-top: 129px;
    padding-bottom: 16px;
  }
  .banner-sub {
    text-align: center;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
  }
}

.about-container {
  background: $background-color;
  .about {
    .about-title {
      position: absolute;
      width: 1127px;
      height: 62px;
      left: 119px;
      top: 546px;
      color: $secondary-color;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 130%;
    }
    .about-content1 {
      left: 599px;
      top: 546px;
      position: absolute;
      width: 648px;
      height: 120px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #656261;
      align-self: stretch;
    }
    .about-content2 {
      left: 599px;
      top: 680px;
      position: absolute;
      width: 648px;
      height: 120px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #656261;
      align-self: stretch;
    }
  }
  .about-banner {
    background: url('/dist/img/unsplash_PhYq704ffdA.png'), #c4c4c4;
    position: absolute;
    width: 1129px;
    height: 383px;
    left: 119px;
    top: 770px;
  }
  .values-container {
    background: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 118px;
    gap: 32px;
    position: absolute;
    width: 1127px;
    height: 393px;
    left: 0px;
    top: 1249px;

    .values {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 16px;
      width: 1128px;
      height: 126px;
      .values-title {
        width: 1129px;
        height: 62px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 130%;
        text-align: center;
        color: $secondary-color;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
      }

      .values-sub {
        width: 1129px;
        height: 48px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #656261;
      }
    }
    .values-items {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 24px;
      width: 1128px;
      height: 235px;

      .values-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px;
        gap: 16px;
        width: 360px;
        height: 235px;

        .value-item {
          padding: 16px;
          border-radius: 50%;
        }
        .item1 {
          background: #fae2d1;
          box-shadow: 0 0 0 15px$background-color, 0 0 0 15.5px #fae2d1;
        }
        .item2 {
          background: #cce3ea;
          box-shadow: 0 0 0 15px$background-color, 0 0 0 15.5px #cce3ea;
        }

        .item3 {
          background: #fee2e2;
          box-shadow: 0 0 0 15px$background-color, 0 0 0 15.5px #fee2e2;
        }
        .value-title {
          width: 312px;
          height: 21px;
          text-align: center;
          margin-top: 16px;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 130%;
          color: #3f3b3a;
        }
        .value-sub {
          width: 312px;
          height: 42px;
          text-align: center;
          margin-top: 16px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #686868;
        }
      }
    }
  }
  .mission-container {
    background: $background-color;
    position: absolute;
    width: 1364px;
    height: 384px;
    top: 1772px;
    left: 0;
    .mission-image {
      position: absolute;
      width: 456px;
      height: 288px;
      left: 119px;
      background: url('/dist/img/unsplash_eVhVt7YcMfM.png'), #c4c4c4;
    }
    .mission-title {
      position: absolute;
      color: $secondary-color;
      left: 751px;
      width: 576px;
      height: 62px;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 130%;
    }
    .mission-sub {
      position: relative;
      margin-top: 16px;
      left: 751px;
      top: 48px;
      width: 576px;
      height: 48px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #656261;
    }
    .mission-list {
      position: relative;
      left: 751px;
      top: 77px;
      width: 549.69px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #656261;
      ul {
        list-style: url('/dist/img/bullet.png');

        li {
          margin-bottom: 16px;
          margin-left: 16px;
        }
      }
    }
  }
}

.contact-container {
  width: 1365px;
  height: 1227px;

  .contact-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 96px;
    gap: 24px;
    position: absolute;
    width: 1128px;
    left: 119px;
    top: 594px;

    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 24px;
      gap: 24px;
      width: 360px;
      background: $background-color;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08),
        0px 2px 4px rgba(0, 0, 0, 0.08);
      border-radius: 8px;

      img {
        padding: 8px;
        background-color: #f1f2f6;
        border-radius: 50%;
      }

      div {
        .main-info {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          color: #3f3b3a;
          margin: 0;
        }

        .sub-title {
          margin-top: 12px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          color: #686868;
        }
      }
    }
  }

  .slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 504px;
    height: 301px;
    left: 119px;
    top: 784px;

    .slogan-main {
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 130%;
      color: #00394b;
    }

    .slogan-sub {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #3b7998;
    }

    .slogan-socials-icons {
      display: flex;
      flex-direction: row;
      gap: 8px;
      padding: 0;
      .socials-icon {
        padding: 8px;
        border-radius: 50%;
      }

      //hover effect for facebook logo
      .slogan-facebook {
        display: flex;
        position: relative;
        height: 40px;
        width: 40px;
        .icon1 {
          background: #f1f2f6;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
            0px 2px 4px rgba(0, 0, 0, 0.04);
        }
        .icon1-hover {
          background: $primary-color;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          &:hover {
            opacity: 1;
          }
        }
      }

      //hover effect for instagram logo
      .slogan-instagram {
        display: flex;
        position: relative;
        height: 40px;
        width: 40px;
        .icon2 {
          background: #f1f2f6;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
            0px 2px 4px rgba(0, 0, 0, 0.04);
        }
        .icon2-hover {
          background: $primary-color;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          &:hover {
            opacity: 1;
          }
        }
      }
      //hover effect for twitter logo
      .slogan-twitter {
        display: flex;
        position: relative;
        height: 40px;
        width: 40px;
        .icon3 {
          background: #f1f2f6;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
            0px 2px 4px rgba(0, 0, 0, 0.04);
        }

        .icon3-hover {
          background: $primary-color;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .form-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 552px;
    height: 348px;
    left: 695px;
    top: 784px;

    input,
    textarea {
      resize: none;
      border: none;
      outline: none;
      padding: 16px;
      margin-bottom: 16px;
      width: 229px;
      background: #f1f2f6;
      border-radius: 4px;
      &::-webkit-input-placeholder {
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #5c5c5c;
      }
      &::-moz-placeholder {
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #5c5c5c;
      }
    }
    .input1 {
      margin-right: 25px;
    }
    .input3 {
      width: 520px;
      height: 124px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      justify-items: flex-start;
    }

    .submit-btn {
      padding: 16px 24px;
      width: 169px;
      background: #e66e19;
      border-radius: 8px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: $background-color;
      border: none;
      outline: none;
    }
  }
  .map {
    position: absolute;
    width: 1128px;
    height: 399px;
    left: 119px;
    top: 1228px;

    background: url('/dist/img/map.png');
    border-radius: 8px;
  }
}
